                /* General content for the page */

body{
    margin: 0;
    overflow-x: hidden;
}

.wrapper{
    height: 100vh;
    width: 100%;
}
                /* Main stuff */
main{
    height: 200px;
    width: 100%;
    background-color: blueviolet;
    margin-top: 25px;
}

                /* Header stuff */
header{
    background-color: #B31472;
    height: 60px;
    box-shadow: 0px 6px 9px 0px rgba(117,245,255,1);
}

.border-filler{
    width: 41px;
    height: 1px;
    border-top: 2px solid white;
    float: right;
    transition: 3s;
}

.drop-down-profile{
    position: absolute;
    width: 150px;
    height: 200px;
    background-color: #B31472;
    border-radius: 0 0 10px 10px;
    border: 2px solid white;
    border-top: none;
    top: 60px;
    right: -155px;
}

.a_dropdown_profile{
    top: 60px;
    right: initial;
    transition: 3s;
}

                /* Icons and fonts */
i.material-icons{
    color: white;
    font-size: 3rem;
    float: right;
    vertical-align: middle;
    line-height: 60px;
    border-left: white 2px solid;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: center;
}