                /* General content for the page */

body{
    margin: 0;
    overflow-x: hidden;
    position: relative;
}

.mobileOff{
    display: none;
}

.wrapper{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.storepage{
    justify-content: center;
}

                                             /* Main stuff */

.first-img-product{
    height: 200px;
    background-repeat: no-repeat;
    width: 375px;
    box-shadow: 0px 0px 20px 0px rgba(255,255,255,1);
    border: white 2px solid;
}

.ad-image{
    background-repeat: no-repeat;
    height: 175px;
    align-self: center;
    box-shadow: 0px 0px 12px 0px rgba(255,255,255,1);
}

#fallout76-store-frontG{
    background-image: url(../img/Fallout76/fallout76@150px-X-175px.jpg);
}

#modernwarfare2-store-frontG{
    background-image: url(../img/ModernWarfare2/modernwarfare2@150px-X-175px.jpg);
}

#plantsvszombies-store-frontG{
    background-image: url(../img/PlantsVsZombies/PvsZ@150px-X-175px.jpg)
}

.product-info{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
}

.product-wrapper{
    justify-self: center;
    max-width: 500px;
    width: inherit;
}

.storemain{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
    grid-row-gap: 20px;
}

.small-img-group{
    display: grid;
    grid-template-columns: 70px 70px;
    grid-gap: 5px;
    grid-template-rows: 114px 114px;
    margin: 0 2.5px 0 2.5px;
    align-self: center;
}

.small-img{
    box-shadow: 0px 0px 12px 0px rgba(255,255,255,1);
}

                                                                                    /* For fallout 76 */

#small-imgs-store-fallout76 > .small-img:nth-child(1){
    background-image: url(../img/Fallout76/fallout76_img1@70px-X-114px.jpg);
}

#small-imgs-store-fallout76 > .small-img:nth-child(2){
    background-image: url(../img/Fallout76/fallout76_img2@70px-X-114px.jpg);
}

#small-imgs-store-fallout76 > .small-img:nth-child(3){
    background-image: url(../img/Fallout76/fallout76_img3@70px-X-114px.jpg);
}

#small-imgs-store-fallout76 > .small-img:nth-child(4){
    background-image: url(../img/Fallout76/fallout76_img4@70px-X-114px.jpg);
}

                                                                                    /* For modern warfare 2 */

#small-imgs-store-modernwarfare2 > .small-img:nth-child(1){
    background-image: url(../img/ModernWarfare2/modernwarfare2_img1@70px-X-114px.jpg);
}

#small-imgs-store-modernwarfare2 > .small-img:nth-child(2){
    background-image: url(../img/ModernWarfare2/modernwarfare2_img2@70px-X-114px.jpg);
}

#small-imgs-store-modernwarfare2 > .small-img:nth-child(3){
    background-image: url(../img/ModernWarfare2/modernwarfare2_img3@70px-X-114px.jpg);
}

#small-imgs-store-modernwarfare2 > .small-img:nth-child(4){
    background-image: url(../img/ModernWarfare2/modernwarfare2_img4@70px-X-114px.jpg);
}

                                                                                    /* For plants vs zombies */

#small-imgs-store-plantsvszombies > .small-img:nth-child(1){
    background-image: url(../img/PlantsVsZombies/plantsvszombies_img1@70px-X-114px.jpg);
}

#small-imgs-store-plantsvszombies > .small-img:nth-child(2){
    background-image: url(../img/PlantsVsZombies/plantsvszombies_img2@70px-X-114px.jpg);
}

#small-imgs-store-plantsvszombies > .small-img:nth-child(3){
    background-image: url(../img/PlantsVsZombies/plantsvszombies_img3@70px-X-114px.jpg);
}

#small-imgs-store-plantsvszombies > .small-img:nth-child(4){
    background-image: url(../img/PlantsVsZombies/plantsvszombies_img4@70px-X-114px.jpg);
}

.store-image-background{
    display: flex;
    justify-content: center;
    width: 100vw;
    background-image: url(../img/banner-for-store@800px-X-300px.jpg);
}

.store-image{
    max-width: 500px;
    width: inherit;
    background-image: url(../img/banner@500px-X-300px.jpg);
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0px 0px 13px 9px rgba(0,0,0,0.26);
    border-left: white solid 2px;
    border-right: white solid 2px;
}

.box-of-review-stars{
    display: flex;
    flex-wrap: wrap;
    height: 48px;
}

.store-product{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    justify-content: center;
    justify-self: center;
    background-repeat: no-repeat;
    box-shadow: 0px 10px 7px 6px rgba(0,0,0,0.22);
    background-position:center top;
}

#fallout76-store-backG{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/Fallout76/banner-fallout76@500px-X-300px.jpg);
}

#modernwarfare2-store-backG{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/ModernWarfare2/banner-modernwarfare2@500px-X-300px.jpg);
}

#plantsvszombies-store-backG{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/PlantsVsZombies/banner-plantsvszombies@500px-X-300px.jpg);
}

.adgroup{
    height: auto;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 250px;
    column-gap: 1.5vw;
    justify-self: center;
}

.review-part{
    background-color: #3682B3;
    height: auto;
    margin: 20px 0 20px 0;
    display: grid;
    grid-template-rows: 48px 40px auto;
    width: 100vw;
}

#fallout76{
   background-image: url(../img/Fallout76/fallout76@320px-X-150px.jpg); 
}

#candycrush{
    background-image: url(../img/CandyCrush/candycrush@320px-X-150px.jpg);
}

#plantsvszombies{
    background-image: url(../img/PlantsVsZombies/pvsz@320px-X-150px.jpg);
}

#modernwarfare2{
    background-image: url(../img/ModernWarfare2/modernwarfare2@320px-X-150px.jpg)
}

#europauniversalis4{
    background-image: url(../img/EuropaUniversalis4/europauniversalis4@320px-X-150px.jpg);
}

.img_button{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    border: solid white 2px;
    background-color: #3682B3;
    position: relative;
    right: -20px;
    top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,1);
}

.list-of-games{
    height: 250px;
    background-image: url(../img/background-for-listOfGames@800px-X-250px.jpg);
    margin: 0 auto 10px 0;
    display: grid;
    grid-template-rows: 50px 1fr 25px;
    background-repeat: no-repeat;
    width: 100vw;
    box-shadow: 0px 0px 10px 0px rgba(255,76,159,1);
}

                                                                                    /* Fallout 76 Image Stuff */

#fallout76-img:nth-of-type(1){
    background-image: url(../img/Fallout76/fallout76_img1@170px-X-114px.jpg)
}

#fallout76-img:nth-of-type(2){
    background-image: url(../img/Fallout76/fallout76_img2@170px-X-114px.jpg)
}

#fallout76-img:nth-of-type(3){
    background-image: url(../img/Fallout76/fallout76_img3@170px-X-114px.jpg)
}

#fallout76_1_image{
    background-image: url(../img/Fallout76/fallout76@375px-X-200px.jpg);
}

#fallout76_2_image{
    background-image: url(../img/Fallout76/fallout76_2@375px-X-200px.jpg)
}

#fallout76_3_image{
    background-image: url(../img/Fallout76/fallout76_3@375px-X-200px.jpg)
}

#fallout76_4_image{
    background-image: url(../img/Fallout76/fallout76_4@375px-X-200px.jpg)
}

                                                                                    /* Candy Crush Image Stuff */

#candycrush-img:nth-of-type(1){
    background-image: url(../img/CandyCrush/candycrush_img1@170px-X-114px.jpg)
}

#candycrush-img:nth-of-type(2){
    background-image: url(../img/CandyCrush/candycrush_img2@170px-X-114px.jpg)
}

#candycrush-img:nth-of-type(3){
    background-image: url(../img/CandyCrush/candycrush_img3@170px-X-114px.jpg)
}

#candycrush_1_image{
    background-image: url(../img/CandyCrush/candycrush@375px-X-200px.jpg);
}

#candycrush_2_image{
    background-image: url(../img/CandyCrush/candycrush_2@375px-X-200px.jpg)
}

#candycrush_3_image{
    background-image: url(../img/CandyCrush/candycrush_3@375px-X-200px.jpg)
}

#candycrush_4_image{
    background-image: url(../img/CandyCrush/candycrush_4@375px-X-200px.jpg)
}

                                                                                    /* Plants vs Zombies Image Stuff */

#plantsvszombies-img:nth-of-type(1){
    background-image: url(../img/PlantsVsZombies/pvsz_img1@170px-X-114px.jpg)
}

#plantsvszombies-img:nth-of-type(2){
    background-image: url(../img/PlantsVsZombies/pvsz_img2@170px-X-114px.jpg)
}

#plantsvszombies-img:nth-of-type(3){
    background-image: url(../img/PlantsVsZombies/pvsz_img3@170px-X-114px.jpg)
}

#plantsvszombies_1_image{
    background-image: url(../img/PlantsVsZombies/pvsz@375px-X-200px.jpg);
}

#plantsvszombies_2_image{
    background-image: url(../img/PlantsVsZombies/plantsvszombies_2@375px-X-200px.jpg)
}

#plantsvszombies_3_image{
    background-image: url(../img/PlantsVsZombies/plantsvszombies_3@375px-X-200px.jpg)
}

#plantsvszombies_4_image{
    background-image: url(../img/PlantsVsZombies/plantsvszombies_4@375px-X-200px.jpg)
}

footer{
    width: 100vw;
    height: 50px;
    background-color: #3682B3;
    margin-top: auto;
    margin-bottom: 0;
    box-shadow: 0px 0px 10px 0px rgba(150, 215, 255,1);
    z-index: 100;
}

#scrollables{
    flex: 0 0 auto;
    width: 150px;
    height: auto;
    margin: 0 10px 0 10px;
}

#scrollables:nth-child(1){
    background-image: url(../img/Fallout76/fallout76@150px-X-175px.jpg);
}

#scrollables:nth-child(2){
    background-image: url(../img/CandyCrush/candycrush@150px-X-175px.jpg);
}

#scrollables:nth-child(3){
    background-image: url(../img/PlantsVsZombies/PvsZ@150px-X-175px.jpg);
}

#scrollables:nth-child(4){
    background-image: url(../img/ModernWarfare2/modernwarfare2@150px-X-175px.jpg);
}

#scrollables:nth-child(5){
    background-image: url(../img/EuropaUniversalis4/europauniversalis4@150px-X-175px.jpg);
}


.launch{
    display: flex;
    align-items: center;
    width: 150px;
    height: 75px;
    background-color: #3682B3;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    border: solid white 3px;
    box-shadow: 0px 0px 10px 0px rgba(255,76,159,0.6);
}

.myGame-main{
    display: grid;
    grid-template-columns: 170px 170px;
    grid-template-rows: 120px 120px 120px;
    grid-row-gap: 10px;
    min-width: 320px;
    max-width: 340px;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 0;
}

.wrapper-for-gameMain{
    display: grid;
    justify-content: center;
    background-image: url(../img/banner-for-games@800px-X-380px.jpg);
    width: 100vw;
    margin: 0;
    border: white 2px solid;
    box-shadow: 0px 0px 20px 0px rgba(255,76,159,1);
}

.img-product{
    height: 95%;
    width: 95%;
    margin: 2.5%;
    box-shadow: 0px 0px 21px 0px rgba(98,150,174,0.89);
}

.centering{
    display: flex;
    justify-content: center;
    width: 100%;
}

#fallout76-image{
    margin-top: 10px;
    background-image: url(../img/Fallout76/banner-fallout76@800px-X-375px.jpg)
}

#candycrush-image{
    margin-top: 10px;
    background-image: url(../img/CandyCrush/banner-candycrush@800px-X-375px.jpg)
}

#plantsvszombies-image{
    margin-top: 10px;
    background-image: url(../img/PlantsVsZombies/banner-plantsvszombies@800px-X-375px.jpg)
}

#homepage-image{
    background-image: url(../img/banner@800px-X-375px.jpg);
    margin-top: 23px;
    border: white 2px solid;
}

.first-page-img{
    height: 200px;
    width: 375px;
    background-image: url(../../misc/Namnlöst-1.jpg);
    box-shadow: 0px 0px 33px 12px rgba(98,150,174,0.89);
    border-top: white solid 4px;
    border-bottom: white solid 4px;
}

main{
    width: 95vw;
    height: auto;
    margin: 10px 2.5vw 10px 2.5vw;
    background-color: #EEEEEE;
    border: solid 2px grey;
}

#lib-main{
    display: flex;
    flex-wrap: wrap;
}

.myGames:nth-child(1){
    background-image: url(../img/Fallout76/fallout76@150px-X-175px.jpg)
}

.myGames:nth-child(2){
    background-image: url(../img/CandyCrush/candycrush@150px-X-175px.jpg)
}

.myGames:nth-child(3){
    background-image: url(../img/PlantsVsZombies/PvsZ@150px-X-175px.jpg)
}

.myGames{
    height: 175px;
    width: 150px;
    background-color: #3682B3;
    margin: 10px auto 10px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.game-ad{
    width: 320px;
    height: 150px;
    margin: 0 auto 10px auto;
    box-shadow: 0px 0px 10px 0px rgba(117,245,255,1);
    background-repeat: no-repeat;
}

.more-pls{
    background-color: #3682B3;
    height: 50px;
    width: 125px;
    border-radius: 15px;
    margin: 10px auto 0 auto;
    box-shadow: 0px 0px 10px 0px rgba(117,245,255,1);
    margin-bottom: 10px;
}

.game-ad-parent{
    height: 470px;
    overflow: hidden;
    transition: 0.5s;
    
}

.a_game-ad-parent{
    height: 800px;
}

.ontop-main{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}

.nav-games{
    margin: auto 10px auto auto;
    height: 35px;
    width: 45px;
    display: flex;
    flex-wrap: wrap;
}

.menu-bar{
    width: 100%;
    height: 5px;
    margin: 1px;
    background-color: #818181;
    box-shadow: 0px 0px 21px 0px rgba(98,150,174,0.89);
    transition: 0.5s;
}

.deactivate_mid{
    opacity: 0;
}

.spin_first{
    transform: rotate(45deg)translate(0, 17px);
    margin: 0;
}

.spin_third{
    transform: rotate(-45deg)translate(0, -17px);
    margin: 0;
}
.side-menu{
    border: white solid 2px;
    background-color: #3682B3;
    height: 300px;
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 125px;
    transition: 1s;
    right: -220px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.a_side-menu{
    right: 5px;
}

.myGame_text{
    color: white;
    font-size: 1.5rem;
    margin: 2px 0 2px 5px;
}

::-webkit-scrollbar { 
    display: none; 
}

.correctWidthBG{
    width: 60%;
    height: auto;
}

.box-games{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#recommended-product-wrapper{
    height: 100%;
}

.game{
    display: grid;
    grid-template-rows: 80% 20%;
    margin-top: 20px;
}

.description-of-game{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}

                                                /* Header stuff */ 



header{
    background-color: #3682B3;
    height: 60px;
    box-shadow: 0px 6px 9px 0px rgba(150, 215, 255,1);
    position: relative;
}

.upper{
    position: absolute;
    z-index: 100;
    right: 0;
    width: 100%;
    top: 0;
}

.border-filler{
    background-color: white;
    height: 100%;
    width: 100%;
}

.non-active-link{
    background-color: rgba(0, 0, 0, 0) !important;
}

#right{
    grid-column-start: 3;
}

.drop-down-profile{
    position: absolute;
    width: 150px;
    height: 200px;
    background-color: #3682B3;
    border-radius: 0 0 10px 10px;
    border: 2px solid white;
    border-top: none;
    top: -230px;

    display: grid;
    grid-template-rows: 2px;
    grid-template-columns: 10px 1fr 10px;

    transition: 0.5s;

    transition-delay: 0.3s;
}

.a_dropdown_profile{
    top: 60px;
}


.menu-items{
    height: 100%;
    width: 100%;
    grid-column: span 3;
    display: grid;
    grid-template-rows: 30% 30% 30%;
    grid-template-columns: 10px auto;
    grid-gap: 3px;
}

.nav-button{
    background-color: aqua;
    border-radius: 0 5px 5px 0 ;
}


                                                 /* Icons and fonts */

.text-product{
    font-size: 1.2rem;
    text-align: center;
    color: white;
}

#text-frontpage-store{
    align-self: center;
    margin: 0;
    color: orangered;
    font-size: 2.8rem;
    font-weight: 800;
    text-shadow: 4px 4px 4px orange,rgb(255, 255, 255) 2px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px;
}

.text-under-store-product{
    margin: 0 0 0 10px;
    color: white;
    font-size: 1.6rem;
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, 
        rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, 
        rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, 
        rgb(0, 0, 0) 0.96017px -0.279415px 0px;

}

.text-under-store-product:nth-of-type(2){
    font-size: 1rem;
    margin-left: auto;
}

.store-title{
    margin: 0 0 0 10%;
    font-size: 2.4rem;
}

#title-for-reviews{
    margin: 20px 0 0 5%;
}

.review{
    color: white;
    padding: 10px;
    margin: 0;
}

.review-title{
    text-align: center;
    margin: 0;
    color: white;
}

#inactive{
    color: rgba(255, 255, 255, 0.3)
}

.star{
    width: 48px;
    height: 48px;
}

#title-description{
    margin: 0 0 0 5%;
}

.description-of-game-text{
    margin: 10px 0 20px 0;
    background-color: #3682B3;
    color: white;
    font-size: 1.1rem;
    padding: 10px;
    width: 90vw;
    box-shadow: 0px 0px 20px 0px rgba(54,130,179,1);
    border: white 2px solid;
}

#image_button{
    font-size: 1.5rem;
}

.text-for-list{
    color: white;
    margin: auto 0 auto 10px;
    font-size: 1.5rem;
}

.contact-info{
    padding: 2px;
    color: white;
    font-size: 1.1rem;
    margin: 0 0 0 10px;
}
.first-page-img-text{
    text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 
    2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 
    3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 
    5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 
    6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 
    7px 8px 0px #378ab4, 8px 7px 0px #5dabcd, 
    2px 2px 2px rgba(181,49,206,0);

    text-align: center;
    color: white;
    font-size: 2.5rem;
    vertical-align: middle;
    line-height: 125px;
    
}
i.material-icons{
    color: white;
    font-size: 3rem;
}

.active-text{
    background-color: rgba(255, 255, 255, 0.2)
}

a{
    text-decoration: none;
    color: white;
}

.launch_text{
    color: white;
    text-align: center;
    margin: 0 auto 0 auto;
}

.arrow{
    position: absolute;
    left: 0;
    border-left: none !important;
}

#header_icons{
    float: right;
    vertical-align: middle;
    line-height: 60px;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    border-left: white 2px solid;

}

.topper-text{
    color: #818181;
    vertical-align: middle;
    line-height: 80px;
    margin: 0 0 0 20px;
    font-size: 2.2em;
}

#more{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 4rem;
}

.a_profilebox{
    padding: 0 41px 0 41px !important;
}

.title-first-page{
    text-align: center;
    color: white;
    font-weight: 600;
    text-shadow: rgb(54, 130, 179) 3px 0px 0px, rgb(54, 130, 179) 2.83487px 0.981584px 0px, 
    rgb(54, 130, 179) 2.35766px 1.85511px 0px, rgb(54, 130, 179) 1.62091px 2.52441px 0px, 
    rgb(54, 130, 179) 0.705713px 2.91581px 0px, rgb(54, 130, 179) -0.287171px 2.98622px 0px, 
    rgb(54, 130, 179) -1.24844px 2.72789px 0px, rgb(54, 130, 179) -2.07227px 2.16926px 0px, 
    rgb(54, 130, 179) -2.66798px 1.37182px 0px, rgb(54, 130, 179) -2.96998px 0.42336px 0px, 
    rgb(54, 130, 179) -2.94502px -0.571704px 0px, rgb(54, 130, 179) -2.59586px -1.50383px 0px, 
    rgb(54, 130, 179) -1.96093px -2.27041px 0px, rgb(54, 130, 179) -1.11013px -2.78704px 0px, 
    rgb(54, 130, 179) -0.137119px -2.99686px 0px, rgb(54, 130, 179) 0.850987px -2.87677px 0px, 
    rgb(54, 130, 179) 1.74541px -2.43999px 0px, 
    rgb(54, 130, 179) 2.44769px -1.73459px 0px, rgb(54, 130, 179) 2.88051px -0.838247px 0px;
}

.nav-text{
    font-size: 25px;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
}

.gameTitel{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    text-shadow: rgb(54, 130, 179) 2px 0px 0px, 
    rgb(54, 130, 179) 1.75517px 0.958851px 0px, 
    rgb(54, 130, 179) 1.0806px 1.68294px 0px, 
    rgb(54, 130, 179) 0.141474px 1.99499px 0px, 
    rgb(54, 130, 179) -0.832294px 1.81859px 0px, 
    rgb(54, 130, 179) -1.60229px 1.19694px 0px, 
    rgb(54, 130, 179) -1.97998px 0.28224px 0px, 
    rgb(54, 130, 179) -1.87291px -0.701566px 0px, 
    rgb(54, 130, 179) -1.30729px -1.5136px 0px, 
    rgb(54, 130, 179) -0.421592px -1.95506px 0px, 
    rgb(54, 130, 179) 0.567324px -1.91785px 0px, 
    rgb(54, 130, 179) 1.41734px -1.41108px 0px, 
    rgb(54, 130, 179) 1.92034px -0.558831px 0px;
}

.Pc-titel, .first-page-img-text, #on-homepage-img, .membership-text, 
.text-for-list, #title-description, #title-for-reviews,
.contact-info, .topper-text, .main-title, a, 
.review-title, .text-under-store-product, .store-title, .launch_text{
    font-family: 'Playfair Display', serif;
}

.nav-text, .myGame_text, .description-of-game-text, .review, .product-text, .description-of-game-text-lower{
    font-family: 'Source Sans Pro', sans-serif;
}


@media only screen and (min-device-width: 800px){
    .desktopOff{
        display: none !important;
        height: auto;
    }

    .wrapper{
        overflow-x: visible;
    }

    .mobileOff{
        display: block;
    }

    .homepage{
        display: grid;
        grid-template-columns: 200px auto; 
        grid-template-rows: 150px auto 50px; 
    }

    header{
        height: 100%;
        width: 100%;
        grid-row: span 2;
        grid-column: span 1;
        position: relative !important;
    }

    .first-page-img{
        background-color: #5dabcd;
        background-image: none;
        height: 100% !important;
        width: 100%; 
        border: none;

    }

    .first-page-img-text{
        margin: 0 0 20px 10px;
    }

    .box-games{
        margin-top: 18px;
    }

    .Pc-titel{
        color: white;
        text-align: center;
        font-size: 2.5rem;
    }

    .nav-grid{
        display: grid;
        grid-template-columns: 10px auto;
        grid-template-rows: 60px 60px 60px;
    }

    .nav-text{
        font-size: 1.6rem;
        vertical-align: center;
        line-height: 60px;
    }

    .game-ad-parent{
        display: grid;
        grid-template-columns: 175px 175px 175px;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
        width: 545px;
    }

    .game-ad{
        height: 100%;
        width: 100%;
        margin:10px!important;
    }

    #fallout76{
        background-image: url(../img/Fallout76/fallout76@175px-X-235px.jpg)
    }

    #candycrush{
        background-image: url(../img/CandyCrush/candycrush@175px-X-235px.jpg)
    }

    #plantsvszombies{
        background-image: url(../img/PlantsVsZombies/PvsZ@175px-X-235px.jpg)
    }

    #modernwarfare2{
        background-image: url(../img/ModernWarfare2/modernwarfare2@175px-X-235px.jpg)
    }

    #europauniversalis4{
        background-image: url(../img/EuropaUniversalis4/europauniversalis4@175px-X-235px.jpg)
    }

    .game{
        height: auto;
        width: auto;
        margin-left: 10px !important;
    }

    .title-first-page{
        text-align: left;
        margin-left: 10px;
    }

    footer{
        box-shadow: none;
        border: 2px white solid;
    }

    .active-text{
        background-color: rgba(255, 255, 255, 0);
        transition: 0.4s;
    }
    
    .active-text:hover{
        background-color: rgba(255, 255, 255, 0.4)
    }
    
    .nav-text{
        color: white;
        background-color: transparent;
    }

    .myGames{
        margin: 10px;
        background-repeat: no-repeat;
        height: 235px;
        width: 175px;
    }

    #lib-main{
        display: flex;
        flex-wrap: wrap;
    }

    .myGames:nth-child(1){
        background-image: url(../img/Fallout76/fallout76@175px-X-235px.jpg)
    }

    .myGames:nth-child(2){
        background-image: url(../img/CandyCrush/candycrush@175px-X-235px.jpg)
    }

    .myGames:nth-child(3){
        background-image: url(../img/PlantsVsZombies/PvsZ@175px-X-235px.jpg)
    }

    .ontop-main{
        margin: auto 0 auto 0;
        font-size: 1.5rem;
    }

    .home-main{
        display: grid;
        grid-template-rows: 500px 1fr;
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
        column-gap: 10px;
    }

    main{
        width: 80%;
        margin: 10px 10% 0 10%;
    }

    .desktop-first-image{
        grid-column: span 2;
        width: 100%;
        background-image: url(../img/Fallout76/banner-fallout76@1376px-X-500px.jpg);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .desktop-first-image-article{
        height: 700px;
        width: calc(100vw - 200px);
        background-repeat: no-repeat;
        display: grid;
        grid-template-columns: 420px auto;
        grid-template-rows: 700px;
    }

    #on-homepage-img{
        font-size: 3rem;
        color: white;
        text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 
        1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, 
        rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px
        , rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, 
        rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
    }

    .article-for-game:nth-of-type(1){
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner@688px-X-175px.jpg);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .membership-text{
        color: white;
        font-size: 2.4rem;
        text-align: center;
        text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, 
        rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px,
        rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, 
        rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, 
        rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, 
        rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, 
        rgb(0, 0, 0) 1.92034px -0.558831px 0px;
    }

    .list-of-games{
        width: auto;
        margin: 0;
        grid-template-columns: 1fr 50px;
    }

    .button-for-games-desktop{
        border-radius: 40px;
        justify-self: center;
        align-self: center;
        border: white 2px solid;
        height: 40px;
        width: 40px;
        background-color: rgba(255,76,159,1);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 5px 2px rgba(255,76,159,0.5);
    }

    #chevron-for-desktop-button{
        margin-left: 5px;
    }

    .box-of-scrollables-desktop, .box-of-scrollables-desktop-second{
        grid-column: span 2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #on{
        display: grid;
    }

    #off{
        display: none;
    }

    .eu4{
        background-image: url(../img/EuropaUniversalis4/europauniversalis4@150px-X-175px.jpg) !important;
    }

    .storepage{
        display: grid;
        grid-template-columns: 200px 1fr; 
        grid-template-rows: 300px 50px auto 50px; 
        width: 100%;
    }

    .store-image-background{
        width: 100%;
    }

    #for-store{
        grid-row: span 3;
    }

    .itemgrid{
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-rows: 1fr 50px;
    }

    #for-articles{
        grid-row: span 1;
    }

    .article-footer{
        grid-row-start: 2;
    }

    #fallout76-image{
        margin: 0;
    }

    .desktop-main{
        background-color: transparent;
        width: 100%;
        height: 100%;
        margin: 0;
        border: none;
        display: flex;
        flex-wrap: wrap;
    }

    #fallout76-main-img{
        background-image: url(../img/Fallout76/banner-for-fallout76@1720px-X-700px.jpg);

    }

    .main-title{
        margin: 20px 0 0 20px;
        font-size: 4.3rem;
        color: white;
        text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, 
        rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, 
        rgb(0, 0, 0) -0.653644px -0.756802px 0px, 
        rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
    }

    .description-of-game-text{
        background-color: transparent;
        border: none;
        box-shadow: none;
        font-size: 1.3rem;
        width: 390px;
        letter-spacing: 2px;
        text-align: left;
        margin: 0 0 0 10px;
    }

    .readable-text-box{
        background-color: rgba(0, 0, 0, 0.4);
        height: 100%;
    }

    .launch{
        margin-left: 20px;
    }

    .product-text{
        color: white;
        font-size: 1.8rem;
        height: auto;
        width: auto;
        text-align: left;
        margin: 0;
        padding: 10px;
    }

    .sticky-nav-bar{
        width: 100%;
        height: 75px;
        background-color: #3682B3;
        position: sticky;
        top: 0;
        z-index: 1000;
        border-top: 1px solid white;
        display: grid;
        grid-template-columns: 1fr auto auto 1fr;
        grid-template-rows: 1fr auto 1fr;
        grid-column-gap: 100px;
    }

    .nav-bar-text{
        color: white;
        font-size: 1.9rem;
        margin: 0;
        grid-row-start: 2;
    }

    .nav-bar-text:nth-of-type(1){
        grid-column-start: 2;
    }

    .nav-bar-text:nth-of-type(2){
        grid-column-start: 3;
    }

    #second-text{
        text-align: right;
    }

    .layout-img{
        height: 500px;
        width: 100%;
        box-shadow: inset 0px 0px 25px -4px rgba(0,0,0,0.75);
        display: flex;
        align-items: center;
        flex-direction: column;
        background-repeat: no-repeat;
    }

    .no-grid{
        display: flex !important;
    }

    .layout-img:nth-last-of-type(2n+2){
        display: grid;
        grid-template-columns: 300px auto;
        grid-template-rows: 500px;
    }

    .layout-img:nth-last-of-type(2n+1){
        display: grid;
        grid-template-columns: auto 300px;
        grid-template-rows: 500px;
    }

    .fallout76-layout-img:nth-of-type(2){
        background-image: url(../img/Fallout76/fallout76_img1@1720px-X-500px.jpg);
    }

    .fallout76-layout-img:nth-of-type(3){
        background-image: url(../img/Fallout76/fallout76_img2@1720px-X-500px.jpg);
    }

    .fallout76-layout-img:nth-of-type(4){
        background-image: url(../img/Fallout76/fallout76_img3@1720px-X-500px.jpg);
    }

    #plantsvszombies-main-img{
        background-image: url(../img/PlantsVsZombies/banner-for-plantsvszombies@1720px-X-700px.jpg)
    }

    .plantsvszombies-layout-img:nth-of-type(2){
        background-image: url(../img/PlantsVsZombies/plantsvszombies_img1@1720px-X-500px.jpg)
    }

    .plantsvszombies-layout-img:nth-of-type(3){
        background-image: url(../img/PlantsVsZombies/plantsvszombies_img2@1720px-X-500px.jpg)
    }

    .plantsvszombies-layout-img:nth-of-type(4){
        background-image: url(../img/PlantsVsZombies/plantsvszombies_img3@1720px-X-500px.jpg)
    }

    #candycrush-main-img{
        background-image: url(../img/CandyCrush/banner-for-candycrush@1720px-X-700px.jpg)
    }

    .candycrush-layout-img:nth-of-type(2){
        background-image: url(../img/CandyCrush/candycrush_img1@1720px-X-500px.jpg)
    }

    .candycrush-layout-img:nth-of-type(3){
        background-image: url(../img/CandyCrush/candycrush_img2@1720px-X-500px.jpg)
    }

    .candycrush-layout-img:nth-of-type(4){
        background-image: url(../img/CandyCrush/candycrush_img3@1720px-X-500px.jpg)
    }


    #span-second-in-grid{
        grid-column-start: 2;
    }

    .review-part{
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        margin: auto 0 auto 0;
        grid-template-rows: 120px 50px auto;
    }

    .review, .review-title, .product-text, .description-of-game-text, .star{
        text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, 
        rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, 
        rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, 
        rgb(0, 0, 0) 0.96017px -0.279415px 0px;
    }

    .box-of-review-stars{
        height: 80px;
        width: 300px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin: auto 0 auto 0;
    }

    .description-of-game-text-lower{
        margin: 20px auto 20px auto;
        height: 300px;
        width: 800px;
        background-color: #EEEEEE;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        font-size: 1.3rem;
        letter-spacing: 1px;
        text-align: left;
        padding: 10px;
    }

    .star{
        font-size: 4rem !important;
    }

    .review{
        text-align: center;
    }

    .review-holder{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 50px;
    }

    .storemain{
        width: 500px;
        margin: 0;
    }

    #desktop-storemain{
        border: none;
        margin: 0 auto 0 auto;
    }
}